#project-section {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

#project-section--title {
  display: none;
  font-size: 24px;
  font-family: "Lora", serif;
  font-weight: 700;
}

@media (min-width: 640px) AND (max-width: 1024px) {
  #project-section {
    padding: 48px 24px;
  }

  #project-section--title {
    display: block;
  }
}

@media (min-width: 1024px) {
  #project-section {
    padding: 24px;
  }

  #project-section--title {
    display: block;
  }
}
