footer {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
}

.footer--link {
  display: flex;
  gap: 2px;
  color: green;
  text-decoration: none;
}

.footer--link.active {
  animation: link-color-change 2s infinite;
  text-decoration: none;
  text-decoration: underline;
}

.icon {
  width: 6px;
  height: 6px;
}

@media (min-width: 1024px) {
  .footer--link {
    font-size: 28px;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}
